<mat-card>
  <mat-card-title> <a href="#example-6">Example 6</a> </mat-card-title>

  <mat-card-subtitle>
    saving a snapshot of a form control's state
  </mat-card-subtitle>

  <mat-card-content>
    <p>
      Here, we save a snapshot of the original "default" state of the form
      control. We can use this snapshot to restore the control to that state.
      The snapshot is simply an observable of the state change events which
      define the form control.
    </p>
    <p>
      Because the snapshot is an observable, we can use rxjs operators like
      `filter()` to prevent some of the state from being synced to a form
      control.
    </p>
  </mat-card-content>

  <mat-card-content>
    <div>
      <label> inputControl </label>
      <input [ngFormControl]="inputControl" />
    </div>

    <div>
      <p>
        control touched: {{ inputControl.touched }}. control changed:
        {{ inputControl.changed }}.
      </p>
      <button (click)="reset()">reset inputControl</button>
    </div>
  </mat-card-content>
</mat-card>
