<mat-card>
  <mat-card-title> <a href="#example-3-5">Example 3.5</a> </mat-card-title>

  <mat-card-subtitle>
    dynamically parse a control's text input (another way)
  </mat-card-subtitle>

  <mat-card-content>
    <p class="body-1">
      This example is similar to example 3, in that it also shows how to
      dynamically transform text date values into javascript `Date` objects.
    </p>

    <p class="body-1">
      While the last example made use of the value mapper option provided by the
      `FormControlDirective`, this example shows manually linking two controls
      together and transforming the values between them.
    </p>

    <p class="body-1">
      Note:
    </p>

    <ol>
      <li>
        Only the <em>changes</em> of controls are being synced. Any state the
        controls acquire before being linked to one another is not shared. In
        this example, the inputControl begins with an error because it's initial
        value is invalid. The dateControl does not.
      </li>
    </ol>
  </mat-card-content>

  <mat-card-content>
    <div>
      <label> inputControl </label>
      <input [ngFormControl]="inputControl" />

      <div *ngIf="inputControl.touched && inputControl.invalid" class="error">
        <p>inputControl Errors:</p>
        <p>{{ inputControl.errors | json }}</p>
      </div>

      <div>
        <p>inputControl value:</p>
        <p>{{ inputControl.value }}</p>
      </div>
    </div>

    <div style="margin-top: 1rem;">
      <label> dateControl </label>
      <button (click)="setDate()">Set date to today</button>

      <div *ngIf="dateControl.touched && dateControl.invalid" class="error">
        <p>dateControl Errors:</p>
        <p>{{ dateControl.errors | json }}</p>
      </div>

      <div>
        <p>dateControl value:</p>
        <p>{{ dateControl.value | json }}</p>
      </div>
    </div>
  </mat-card-content>

  <hr />

  <mat-card-content>
    <p class="body-1">
      All aspects of the controls are in sync. Note though, that while the
      values of both controls are in sync, the values are different. A change to
      the <code>inputControl</code> value effects the
      <code>dateControl</code> value and vice-versa.
    </p>

    <div>
      <p>inputControl touched: {{ inputControl.touched }}</p>
      <p>dateControl touched: {{ dateControl.touched }}</p>

      <button (click)="dateControl.markTouched(true)">
        Mark dateControl as touched
      </button>

      <button (click)="dateControl.markTouched(false)">
        Mark dateControl as untouched
      </button>
    </div>
  </mat-card-content>
</mat-card>
