<mat-card>
  <mat-card-title> <a href="#example-8">Example 8</a> </mat-card-title>

  <mat-card-subtitle>
    compatibility: using the new API, you can actually do more things with the
    old API
  </mat-card-subtitle>

  <mat-card-content>
    <p>
      Building off of example 7, you can actually still link one
      "ReactiveFormsModule2" FormControl to multiple "ReactiveFormsModule"
      inputs using the compatibility directive. If you aren't familiar, using
      the existing "ReactiveFormsModule" API you can't link a single FormControl
      to multiple inputs.
    </p>
  </mat-card-content>

  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label> Try selecting a date! </mat-label>

        <input
          matInput
          formControl
          [ngFormControl]="controlA"
          [matDatepicker]="picker1"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>

        <mat-datepicker #picker1></mat-datepicker>

        <mat-error> Errors! </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label> Or use this input! </mat-label>

        <input
          matInput
          formControl
          [ngFormControl]="controlA"
          [matDatepicker]="picker2"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>

        <mat-datepicker #picker2></mat-datepicker>

        <mat-error> Errors! </mat-error>
      </mat-form-field>
    </div>

    <div>
      <p>controlA value: {{ controlA.value | json }}</p>
    </div>
  </mat-card-content>
</mat-card>
