<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ReactiveForms2Module proposal demo</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="description">
  <p>
    This is a demo for a proposal to improve @angular/forms. The associated code
    can be found on github here:
    <a href="https://github.com/thefliik/reactive-forms-2-proposal"
      >https://github.com/thefliik/reactive-forms-2-proposal</a
    >.
  </p>
</div>

<div class="examples">
  <app-example-one id="example-1" class="example"></app-example-one>
  <app-example-two id="example-2" class="example"></app-example-two>
  <app-example-three id="example-3" class="example"></app-example-three>
  <app-example-four id="example-4" class="example"></app-example-four>
  <app-example-five id="example-5" class="example"></app-example-five>
  <app-example-six id="example-6" class="example"></app-example-six>
  <app-example-seven id="example-7" class="example"></app-example-seven>
  <app-example-eight id="example-8" class="example"></app-example-eight>
</div>
