app-root {
  display: block;
  font-size: 1.1rem;
  background: lavender;
}

.description,
.examples {
  padding: 2rem;
}

.example {
  display: block;
  margin-bottom: 2rem;
}

.error {
  margin-top: 1rem;
  color: red;
}

code {
  background-color: lightgray;
}
