<div style="text-align:center">
  <h1>ReactiveForms2Module proposal demo</h1>
</div>

<p>
  This is a demo for a proposal to improve @angular/forms. The associated issue
  is #1232.
</p>

<div class="examples">
  <app-example-one class="example"></app-example-one>
  <app-example-two class="example"></app-example-two>
  <app-example-three class="example"></app-example-three>
  <app-example-four class="example"></app-example-four>
  <app-example-five class="example"></app-example-five>
  <app-example-six class="example"></app-example-six>
  <app-example-seven class="example"></app-example-seven>
  <app-example-eight class="example"></app-example-eight>
</div>
